<li>
	{{burger_name}}

	<button class="btn-warning change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Consume{{else}}Ressurect{{/if}}
	</button>

	<button class="btn-danger delete-burger" data-id="{{this.id}}">Banish</button>
</li>
